.container {
    margin-top: 200px;
    margin-left: auto;
    margin-right: auto;
    width: 450px;
    text-align: center;
  }
  
  .feedback {
    margin-top: 20px;
    padding: 20px;
  }
  
  .feedback h1 {
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 20px;
  }
  
  .feedback .input-fields {
    position: relative;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .feedback .input-fields input, textarea {
    margin-bottom: 20px;
    margin-top: 10px;
    padding: 10px;
    width: 100%;
    font-size: 15px;
    background: transparent;
    box-sizing: border-box;
    border: 1.2px solid black;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
    border-radius: 5px;
  }
  
  .feedback .input-fields input:focus, textarea:focus {
    border: 3px solid #483C32;
  }
  
.feedback button{
    margin-bottom: 10px;
    margin-top: 10px;
    padding: 10px;
    width: 100%;
    font-size: 16px;
    border-radius: 5px;
    background-color: #483C32;
    font-size: 16px;
    font-weight: 700;
    color: #fff;
}

.feedback button:hover{
    transform: translateY(-2px);
}

