* {
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    scroll-padding-top: 4rem;
    list-style: none;
    text-decoration: none;
}

body {
    background-color: #f2f2f2;
}

.heading h1 {
    margin-top: 103px;
    background-color: #222;
    color: #fff;
    padding: 20px;
    text-align: center;
}

.menu h2 {
    padding: 20px;
    font-size: 24px;
    margin-bottom: 15px;
    text-align: center;
    color: black;
}
.menu{
    margin: 20px;
}
.coldCoffees,
.hotCoffees,
.frappes, .bakery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
}

.menu li{
    position: relative;
    margin-bottom: 10px;
}
.menu span{
    text-align: center;
    display: block;
    font-weight: 550;
    color: black;
}
.menu img{
    width: 200px;
    height: 200px;
    align-items: center;
}

